.reservation {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  padding: 15px;
}

.reservation-info {
  font-size: 16px;
  line-height: 1.5;
}

.reservation-info span {
  display: block;
  margin-bottom: 8px;
}

.room-features {
  margin-top: 10px;
  display: flex;
}

.room-feature {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
