.gallery-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0d78cd;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  gap: 10px;
}

.filter-buttons button:hover {
  background-color: #f9bc0d;
}
.gallery-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(350px, 1fr));
  gap: 20px;
}

.gallery-item {
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.gallery-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.gallery-item p.desc {
  font-weight: bold;
}

.gallery-item p.info {
  font-style: italic;
}

.gallery-item p.price {
  font-weight: bold;
  color: #0d78cd;
  width: 100%;
  font-size: 1.1em;
}
.icon {
  width: 20px;
}
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  padding: 4px;
  border-radius: 4px; /* Kenarları yuvarlak yapar */
  font-size: 14px; /* Yazı boyutunu ayarlar */
  font-weight: bold; /* Kalın yazı tipini belirler */

  background-color: #f9bc0d;
  color: #090909;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölgelendirme ekler */
}

.item-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-content p {
  width: 40%;
}

.stars {
  width: 40%;
}
